<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql.properties"/>
    <typeAliases>
        <!--<typeAlias type="com.ssm.model.NationalUnits" alias="NationalUnits"/>-->
        <package name="com.ssm.model" />
        <package name="com.ssm.service" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<package name="mapper"/>-->
        <!--<mapper resource="mapper/NationalUnits.xml"/>-->
        <!--<mapper resource="mapper/NationalPage.xml"/>-->


        <mapper resource="mapper/TestMapperInterface.xml"/>
        <mapper resource="mapper/NationalPageMapper.xml"/>
    </mappers>
</configuration>